$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;

$color1: 	#ced8cd;
$color2: #286f6c;
$color2_1: #174340;
$color3: 	#3c6239;
$color3_light: 	#b989a1;
$color3_1: #ad4126;
$color4: #fff;
$color5: #292b46;
$color6: #161616;
$color6_1: #16161698;
$color6_2: #16161622;

$p: 6.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;

$yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
$darkLinearbg:linear-gradient(180deg, rgba(17,127,155,1) 0%, rgba(60,28,224,1) 100%);
$orange: #fca61f;
$black: #242d49;
$gray: #788097;
$purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
$pink: #FF919D;
$glass: rgba(255, 255, 255, 0.54);
$boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
$smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
$activeItem: #f799a354;